body {
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    background: lightgreen;
    padding: 10px;
    border: 1px solid #000;
}

.first {
    background: tan;
}

.second {
    background: pink;
}